{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EGPAF Org Chart</title>

    <link rel="icon" type="image/x-icon" href="http://www.pedaids.org/page/-/images/static/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.rawgit.com/FortAwesome/Font-Awesome/master/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'charts/css/jquery.orgchart.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'charts/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'charts/css/bootstrap.min.css' %}" />

</head>
<body>
  {% block body_block %}{% endblock %}

  {% block more_scripts %}{% endblock %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/jakerella/jquery-mockjax/master/dist/jquery.mockjax.min.js"></script>
  <script type="text/javascript" src="{% static 'charts/js/html2canvas.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'charts/js/jquery.orgchart.js' %}"></script>
  <script type="text/javascript" src="{% static 'charts/js/scripts.js' %}"></script>
  <script style="text/javascript">
  function get_department(rootClass){
    var data = JSON.parse(window[rootClass])
    var dep = data.department
    return dep
  }
      function initOrgchart(rootClass) {
    $('#chart-container').orgchart({
      'chartClass': rootClass,
      //'data' : datasource[0], 
      'data' : JSON.parse(window[rootClass]),//datasource(rootClass),
      'nodeContent': 'title',
      'draggable': true,
      'pan': true,
      'zoom': true,
      'createNode': function($node, data) {
        if ($node.is('.drill-down')) {
          var assoClass = data.className.match(/asso-\w+/)[0].replace("asso-","");
          var drillDownIcon = $('<i>', {
            'class': 'fa fa-arrow-circle-down drill-icon down',
            'click': function() {
              
              
              $('#chart-container').find('.orgchart:visible').addClass('hidden');
              if (!$('#chart-container').find('.orgchart.' + assoClass).length) {
                initOrgchart(assoClass);
              } else {
                $('#chart-container').find('.orgchart.' + assoClass).removeClass('hidden');
                $('#chart-title').html("<p>" + get_department(assoClass) + "</p>");
              }
              $( ":contains('" + get_department(assoClass) + "')" ).addClass("active mx-auto");
              $( ":not(:contains('" + get_department(assoClass) + "'))" ).removeClass("active mx-auto");
              window.curr_department = assoClass;
            }
          });
          $node.append(drillDownIcon);
        } else if ($node.is('.drill-up')) {
          var assoClass = data.className.match(/asso-\w+/)[0].replace("asso-","");
          var upClass = data.className.match(/up-\w+/)[0].replace("up-","");
          var drillUpIcon = $('<i>', {
            'class': 'fa fa-arrow-circle-up drill-icon up',
            'click': function() {
              $('#chart-container').find('.orgchart:visible').addClass('hidden');
              if (!$('#chart-container').find('.orgchart.' + upClass).length) {
                initOrgchart(upClass);
              } else {
               $('#chart-container').find('.orgchart.' + upClass).removeClass('hidden');
               $('#chart-title').html("<p>" + get_department(upClass) + "</p>");
              }
              $( ":contains('" + get_department(upClass) + "')" ).addClass("active mx-auto");
              $( ":not(:contains('" + get_department(upClass) + "'))" ).removeClass("active mx-auto");
              window.curr_department = upClass;
            }
          });
          $node.append(drillUpIcon);
        }
        if ($node.is('.picture')) {
          var url = data.picture;
        }
      },
    'exportButton': true,
    'exportFilename': 'MyOrgChart',
    });
    $('#chart-title').html("<p>" + get_department(rootClass) + "</p>");
    var savebutton = document.createElement('button');
    savebutton.setAttribute('class', 'btn btn-success');
    savebutton.innerHTML = 'Save';
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    savebutton.onclick = function(){
      $.ajax({
        type: "POST",
        url: "/charts/update/",
        data: {
          'data':window[rootClass],
          'department':rootClass
        },
        success: function() {
          $('#save-button').append('<div class="alert alert-success alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Success!</strong> Chart changes saved.</div>')
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) { 
            $('#save-button').append('<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Save Failed</strong>' + " Error: " + errorThrown +'</div>')
        }
      });
    };

    document.getElementById('save-button').replaceChild(savebutton, document.getElementById('save-button').childNodes[0]);



    window.curr_department = rootClass;
  }
    function changeDep(dict){
      var assoClass = dict;
      $('#chart-container').find('.orgchart:visible').addClass('hidden');
      if (!$('#chart-container').find('.orgchart.' + assoClass).length) {
        initOrgchart(assoClass);
      } else {
        $('#chart-container').find('.orgchart.' + assoClass).removeClass('hidden');
        $('#chart-title').html("<p>" + get_department(assoClass) + "</p>");
      }
      $( ":contains('" + get_department(assoClass) + "')" ).addClass("active mx-auto");
      $( ":not(:contains('" + get_department(assoClass) + "'))" ).removeClass("active mx-auto");
      window.curr_department = assoClass;
    }
  </script>
    
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
  <script type="text/javascript" src="{% static 'charts/js/bootstrap.min.js' %}"></script>
  </body>
</html>

