{% extends 'charts/base.html' %}

{% load js %}

{% csrf_token %}

{% block body_block %}

	<div id='left'>
		<div id="chart-container">
			<div id="chart-title" class="heading"></div>	
			
		</div>

		<div id="save-button" class="save-button">
			<div ></div>
		</div>
	</div>

	<div id='right'>
		<div id='info-container'>
			<div id='pic-container'></div>
			<div id='profile-container'></div>
		</div>
	</div>

{% endblock %}

{% block more_scripts %}
	<script type="text/javascript">
	{% for dict in employees_tree %}
		var {{ dict.0 }} = {{ dict.1 | js}}
	{% endfor %}
  	</script>
  	{% csrf_token %}
{% endblock %}

