{% extends 'charts/base.html' %}

{% load js %}

{% csrf_token %}

{% block body_block %}


	<nav class="navbar navbar-inverse navbar-fixed-top ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Organisation Chart</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse mx-auto">
          <ul class="nav navbar-nav ">
            <li class="active mx-auto"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<div class='row'>
		<div class='left col-md-10'>
			<div class="row">
				<div class="col-md-12">
				<div id="chart-container">
					<div id="chart-title" class="heading"></div>	
					
				</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8">
				</div>
				<div class="col-md-4 col-md-offset-4">
				<div id="save-button" class="save-button">
					<div ></div>
				</div>
				</div>
			</div>
		</div>

		<div class='col-md-2'>
			<div id='info-container'>
				<div id='pic-container'></div>
				<div id='profile-container' contentEditable=true></div>
				<div id='profile-save-button'><div><div/></div>
			</div>
		</div>
		</div>
	</div>

{% endblock %}

{% block more_scripts %}
	<script type="text/javascript">
	{% for dict in employees_tree %}
		var {{ dict.0 }} = {{ dict.1 | js}}
	{% endfor %}
  	</script>
  	{% csrf_token %}
{% endblock %}

